@import './global/reset';
@import './abstracts/mixins';
@import './global/animation';
@import './global/colors';
@import './global/typography';
@import './global/accessibility';
@import './global/buttons';
@import './global/forms';
@import './global/icons';
// @import './global/shared-styles';
// @import './global/spacing';
@import './global/visibility';
@import './global/z-index';

body {
	font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;

	color: var(--text-color);
	background-color: var(--background-color);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: all .25s;
}
