@import './global/reset';
@import './abstracts/mixins';
@import './global/animation';
@import './global/colors';
@import './global/typography';
@import './global/accessibility';
@import './global/buttons';
@import './global/forms';
@import './global/icons';
// @import './global/shared-styles';
// @import './global/spacing';
@import './global/visibility';
@import './global/z-index';
@import './global/grid';

*::selection {
	color: #fff;
	background-color: var(--color-primary);
}


.container {
	--custom-width-lg: 1100px;

	@include breakpoint(sm) {
		max-width: var(--max-width-md);
	}

	@include breakpoint(md) {
		max-width: var(--max-width-sm);
	}

	@include breakpoint(lg) {
		max-width: var(--custom-width-lg);
	}
}
