extends ../../layouts/layout

block var
	- title = 'Home'
	- bodyClass = 'home'
include @/components/article/article

block main
	section.main-content(aria-label="content")
		.container
			.grid
				+article({
					class: 'col-12',
					description: 'Sin tantum est boni praeter summam voluptatem, et eam sempiternam. Cur post Tarentum ad Archytam. Qua ex cognitione facilior facta est investigatio rerum occultissimarum, empull.'
				})
