extends ../../layouts/layout

block var
	- title = 'Home'
	- bodyClass = 'home'
include @/components/article/article

block main
	section.main-content(aria-label="content")
		.container
			.grid
				+article({
					class: 'col-12'
				})
