include ../toggle-theme/toggle-theme
include ../search/search

header.header
	.container
		.header__inner
			.logo.logo--desktop
				a.logo__link(href="/") Yem
			.menu-box
			.main-nav
				nav.nav
					.nav__box
						.nav__title
							span Menu
							button.nav__close.js-close-nav.reset(aria-label="close navigation")
								svg.icon.icon-search(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
									title Close
									path(d='M289.94 256l95-95A24 24 0 00351 127l-95 95-95-95a24 24 0 00-34 34l95 95-95 95a24 24 0 1034 34l95-95 95 95a24 24 0 0034-34z')
						ul.nav__list
							li.nav__item
								a.nav__link(href="/" title="home page") Home
							li.nav__item
								a.nav__link(href="/about.html" title="about page") About
							li.nav__item
								a.nav__link(href="/contact.html" title="contact page") Contact
				.nav-buttons
					+toggle-theme({
						class: 'nav-button'
					})
					button.nav-button.js-open-search.reset(aria-label="Search")
						svg.icon.icon-search(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
							title Search
							path(d='M456.69 421.39L362.6 327.3a173.81 173.81 0 0034.84-104.58C397.44 126.38 319.06 48 222.72 48S48 126.38 48 222.72s78.38 174.72 174.72 174.72A173.81 173.81 0 00327.3 362.6l94.09 94.09a25 25 0 0035.3-35.3zM97.92 222.72a124.8 124.8 0 11124.8 124.8 124.95 124.95 0 01-124.8-124.8z')
					button.open-main-nav.nav-button.reset.js-open-nav(aria-label="Open menu")
						svg.icon.icon-hamburger(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
							title Menu
							path(stroke-linecap='round' stroke-miterlimit='10' stroke-width='48' d='M88 152h336M88 256h336M88 360h336')
			+search()
