mixin tags(data)
	- data = data || {}
	- data.class = data.class || ''
	- data.tags = data.tags || []

	.tags(class=data.class)&attributes(attributes)
		each tag in data.tags
			a.tag-item(href=tag.link)=tag.title
