@import "../../styles/styles.scss";

.toggle-theme {
	.icon-sunny {
		display: none;
	}

	input {
		display: none;

		&:checked {
			+label {
				.icon-moon {
					display: none;
				}

				.icon-sunny {
					display: block;
				}
			}
		}
	}

	label {
		cursor: pointer;
		display: inline-block;
	}
}
